.Header-container {
  display: flex;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between;
}

.Logo{
  margin: 10px 10px 10px 20px;
  font-weight: bold;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  line-height: 25px
}

p {
  display: flex;
  align-items: center;
}

.Menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 150px;
}

.Link {
  padding-left: 55px;
  text-decoration: none;
  color:black;
  opacity: 0.6;
}

.Link:hover {
  opacity: 1
}