
.Pagination-stroller-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.Results {
  padding-top: 15px;
  display:flex;
  justify-content: center;
}

.Reset-button {
  outline: none;
  -webkit-appearance: none;
  border:solid grey 1px;
  border-radius: 15px;
  padding: 5px 0 5px 0 ;
  transition-duration: 0.1s;
  background-color: white;
}

.Reset-button:hover {
  outline: none;
  -webkit-appearance: none;
  border:solid grey 1px;
  border-radius: 15px;
  transition-duration: 0.1s;
  background-color: #2196F3;
  color:white;
}

.Reset-button:active {
  box-shadow: 3px 3px 0px #888888;

}



@media only screen and (min-width: 1100px) {
.App-header {
  display: flex;
  flex-direction: row;
}

.No-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
  font-size: 1.5em;
}

.Stroller-container {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.labels {
  text-align: right;
  padding: 170px 15px 15px 15px;
}

.Stroller-card {
  border: solid 1px white;
}

.Stroller-card:hover {
  border: solid 1px #2196F3;
}

.Stroller-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px lightgrey;
  padding: 15px 15px 15px 15px;
  margin-left: 20px;
}

.Stroller-img {
  height: 150px;
  width: 150px;
}

.Form {
  width: 30%;
  text-align: right;
}

.Inputs {
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.Submit-button {
  margin-top: 20px;
}

.Update {
  margin-top: 50px;
}}

@media only screen and (max-width: 1100px) {
  .App-header {
    display: flex;
    flex-direction: column;
  }
  .Stroller-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px lightgrey;
    margin-top: 10px;
    margin-left: 20px;
  }
  

  .Desktop {
    font-size: 0em;
  }

  .Stroller-container {
    padding-left: 50px;
    display:flex;
    flex-wrap: wrap;
  }

  section{
    font-size: 0em;
  }

  .Stroller-img {
    height: 100px;
    width: 100px;
  }

}


